@charset "UTF-8";
 /*There will never be a second chance to make a good first impression.*/


	/*MENU DO CAPIROTO! A mão da gambiarra chega a tremer! ¬¬ 
		-- Menu - Tera essa cor: #230307 
		--Hover do texto do Menu tera esta cor: #A99C9E
	*/
html, body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

#interface{
	width: 100%;
	height: 50px;
	max-height: 50px;
	margin: 0;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	font-family: 'Swis721 WGL4 BT';
	line-height: normal;
	z-index: 4;
}
	/*Largura maxima do Menu de 1000 px e centralizacao*/
.menu{
	height: 48px;
	margin: auto;
	text-align: center;
	max-width: 1000px;
}

.menu ul{
	list-style: none;
	display: flex;
}
	/*Flexibilidade do Menu lateralmente*/
.menu ul li{
	flex-grow: 1;
}

.menu a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	
}

.menu a:hover{
	color: #A99C9E;
	
}

/*
	SUBLINHADO A:HOVER 
	
#header nav ul li a:after {
    -webkit-transform: translate3d(-50%,0,0);
    -moz-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    background: #3cb868;
    /* -webkit-transition: .3s; 
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    width: 0;
    margin: auto;
}
#header nav ul li a:after, #menu_mob ul li a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    content: '';
    pointer-events: none;
}

*/

#img{
	transition: all 0.4s;
}

#img:hover{
	opacity: 0.4;
	transition: all 0.4s;
}

	/*Caso utilizar ICONE altera a cor do mesmo

#img a:hover{
	color: #A99C9E;
}
	*/
label[for="bt_menu"]{
	font-family: 'Swis721 WGL4 BT';
	text-align: center;
	font-size: 28px;
	cursor: pointer;
	width: 40px;
	height: 34px;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	padding: 4px;
}

#bt_menu {
	display: none;
}

label[for="bt_menu"]{
	display: none;
}

#album-fotos{
	width: 700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none;
}
#album-fotos li span{
	opacity: 0;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

#album-fotos li:hover span{
	opacity: 1;
}


#album-fotos li{
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border:3px solid #fff;
	background-color: #fff;
	box-shadow: 2px 2px 3px rgba(0,0,0,.4);
	-webkit-transition: all 0.35s ease-in;
}

#album-fotos li:hover{
	-webkit-transform: scale(1.5);
}

#album-fotos li#foto01{
	background: url('../_imagens/foto01.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}

#album-fotos li#foto01:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto02{
	background: url('../_imagens/foto02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto02:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto03{
	background: url('../_imagens/foto03.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto03:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto04{
	background: url('../_imagens/foto04.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto04:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto05{
	background: url('../_imagens/foto05.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto05:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto06{
	background: url('../_imagens/foto06.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto06:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto07{
	background: url('../_imagens/foto07.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto07:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto08{
	background: url('../_imagens/foto08.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto08:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album-fotos li#foto09{
	background: url('../_imagens/foto09.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 300px 300px;
	background-color: #fff;
}
#album-fotos li#foto09:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}


	/*Parallax effect*/



.pimg1, .pimg2, .pimg3, .pimg4, .pimg7{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;

	/* fixed = parallax
	   scroll = normal
	*/
	background-attachment: fixed;
	
}

.pimg1{
	background-image: url('../_imagens/img1.png');
	min-height: 100%;
	opacity: 1;
}

.pimg2{
	background-image: url('../_imagens/img9.jpeg');
	min-height: 100%;
}

.pimg3{
	background-image: url('../_imagens/img4.jpeg');
	min-height: 100%;
}

.pimg4{
	background-image: url('../_imagens/img4.jpg');
	min-height: 100%;
}

.pimg7{
	background-image: url('../_imagens/img7.jpeg');
	min-height: 100%;
}

.pimg8{
	background-image: url('../_imagens/img7.jpeg');
	min-height: 100%;
}

#logo{
	width: 170px;
	height: 40px;
	opacity: 0.9;
	transition: 0.4s;
	
	
}

/*#logo:hover{
	opacity: 0.4;
	transition: 0.4s;
}
*/
.section{
	text-align: justify;
	padding: 10px 15%;
}
p{
	text-indent: 50px;
}

p::first-letter{
	font-size: 5em;
}
.section-light{
	background-color: #FFFFFF;
	color: #666;
}

.section-dark{
	background-color: #3D474D;
	color: #fff;
}	

.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border{
	background-color: #111;
	color: #fff;
	padding: 20px;
	border-radius: 10px;
}

.text-p{
	color: black;
	text-align: center;
}

.ptext .border.trans{
	background-color: transparent;
}

.section h2{
	font-size: 50px;
	text-align: center;
}

	/*Footer*/

footer.rodape{
	font-family: 'Swis721 WGL4 BT';
	font-size: 15px;
	width: 100%;
	height: 180px;
	color: #fff;
	text-align: center;
	z-index: 6;
	margin: auto;
	background-image: url('../_imagens/img7.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;


}

.background{
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 180px;
	margin: auto;
	transition: all 0.9s;


}

.background:hover{
	background-color: rgba(0,0,0,0.3);
	transition: all 0.9s;
	/*Flexibilidade do Menu lateralmente*/
}

.center{
	max-width: 1000px;
	margin:auto;
}

.footer-align{
	flex-grow: 1;
	padding-top: 80px;
	list-style: none;
}

.footer-right{
	float: right;
	margin-right: 0;
	width: 50%;
}

.footer-left{
	float: left;
	margin-left: 0;
	width: 50%;
}

.footer-right hr{
	width: 270px;
	margin: auto;
}

.icone{
	transition: all 0.6s;
}

.icone:hover{
	cursor: pointer;
	transform: translateY(-5px);
	transition: all 0.6s;
	opacity: 0.4;
}

footer.rodape a{
	text-decoration: none;
	color: #fff;
	
}

.rodape a:hover{
	color: #A99C9E;
	
}


	/*Configuracao do Menu Mobile*/
@media(max-width: 800px){

	label[for="bt_menu"]{
		display: block;
	}
	.menu{
		background-color: rgba(0,0,0,0);
		width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
		left: 0;
		position: fixed;
		font-family: 'Swis721 WGL4 BT';
	}
		
	.menu ul{
		background-color: rgb(0,0,0);
		display: none;
		margin: auto;
	}
	
	.menu a{
		text-decoration: none;
		color: #fff;
		font-size: 16px;
		height: 48px;
	}

	.sub{
		text-align: left;
		border-bottom: 1px solid #333;
		font-size: 18px;
		width: 90%;
		height: 48px;
		max-height: 40px;
		margin-top: 10px;
	}
		
	#img{
		text-align: center;
		display: inline-block;
		margin-top: 10px;
	}

	#mobile_menu{
		height: 100%;
	}
		
	#bt_menu:checked ~ .barra{
		display: block;
	}

	/*Efeito Menu sumir para depois reaparecer
	.menu ul li{
		margin-top: -100%;

	}
	*/
}


	/*Loading
	*--=HTML LOADING...=--*
	<!--Loading...<div class="spinner"></div>-->

	*--=CSS LOADING...=--*
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }


  -*-*-*-*-*-*-*-*-* 
  	*--=HTML LOADING...=--*

  <div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>

  *--=CSS LOADING...=--*

  	.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

*-*-*-*-*-*-*-*-*-

 	*/


	/*Body*/


	

